html{
    ---blueIcon: rgb(192, 192, 255);
    ---grayImg: rgb(156, 156, 156);
}
header{
    height: 8rem;
    background: black;
    position:fixed;
    display: flex;
    box-sizing: border-box;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    z-index: 5;
    top: 0%;
}

header #logoPortfolio{
    position: absolute;
    color: var(---blueIcon);
    top: 20%;
    font-size: 3rem;
    right: 85%;
    cursor: default;
}

#abouts .content-menu{
    display: flex;
    list-style: none;
    gap: 3rem;
}

.content-menu a{
    display: block;
    padding: 2.8rem;
    cursor: default;
    color: whitesmoke;
    text-decoration: none;
    font-size: 2rem;
    transition: .5s;
}

.content-menu a:hover{
    transition: .5s;
    letter-spacing: .1rem;
    color: var(---blueIcon);
}

.content-menu ul{
    position: absolute;
    top: 6rem;
    
}

.content-menu ul li{
    width: 15rem;
    float: none;
    display: list-item;
    position: relative;
}

#abouts .content-menu ul li a{
    cursor: pointer;
    padding: 1rem 1rem;
    text-align: center;
}

#abouts .content-menu li:hover > ul{
    display: block;   
}


/*Transição entre as letras, um espaçamento ao passar
o mouse por cima dos botoes. */

#abouts #btn-hamburguer{
    display: none;
}

/*Menu hamburguer*/
@media(max-width: 1100px){
    

#abouts .content-menu ul li{
    display: none;
}

#abouts #btn-hamburguer{
    display: flex;
    padding: 1.5rem 1rem;
    font-size: 1.8rem;
    border: none;
    background: none;
    cursor: pointer;
    gap: .8rem;
    color: whitesmoke;
}

#hamburguer{
  display: block;
  width: 3rem; 
  border-top: .2rem solid; 
  transition: .4s;

}

#abouts.active .content-menu{
    left: 0;
    height: calc(102vh - 1rem);
    overflow-y: auto;
    visibility: visible;
    
}
#abouts .content-menu{
    position: fixed; 
    top: 10%; 
    left: -100%; 
    display: block;  
    width: 33%;
    height: 0rem;
    background: black;
    transition: .8s;
    z-index:1000; 
    visibility: hidden;
    overflow-y: hidden;

}

#abouts .content-menu a{
    border-bottom: 2px solid rgb(5, 123, 192);
    cursor: pointer;
}

#abouts .content-menu ul li{
    display: none;
}

#abouts .content-menu li a{color: #ffffff; 
    font-size: 2rem; 
    margin: 1rem;
     }

#abouts .content-menu li a:hover{color: rgb(5, 123, 192);
     }

#hamburguer::after, #hamburguer::before{
    content: '';
    display: block; /*Teria que criar um display e content para
    que detecte o objeto, no caso o menu hamburguer. Caso nn
    fizesse isso, ficaria vazio*/
    width: 3rem;
    height: .1rem;
    background: white;/*Uma variável que muda a cor conforme
    escrita no hamburguer*/
    margin-top: .8rem;
    transition: .4s; /*Tempo que o menu hamburguer sofrerá a animação*/
    position: relative;
}

#abouts.active #btn-hamburguer{
    color: whitesmoke;
    transition: .2s;
}

#abouts.active #hamburguer{
    color: whitesmoke;
    transition: .2s;
    border-top-color: transparent;/*Aqui, o 1º traço ficará transpa-
    rente após o usuário clicar no menu hamburguer*/
}

#abouts.active #hamburguer::before{
transform: rotate(130deg); /*Se refere a quantos º de rotação
sofrerá*/
}

#abouts.active #hamburguer::after{
    transform: rotate(-125deg);
    top: -1rem; /*Só funciona com objetos em posicionamento 
    relativo, fixo ou absoluto*/
    
}
}