*
{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
html{
    --menu-color: #2348b7;
    ---blueIcon: #c0c0ff;
    ---blueWords: #001c69;
    ---grayImg: #9c9c9c;
    ---colorBody: #121212;
    ---colorLyrics: #e8e8e8;
    font-size: 62.5%;
    scroll-behavior: smooth;
    color: var(---colorLyrics);
}

body{
    background: var(---colorBody);
}

header{
    display: flex;
    align-items: center;
    justify-content: center;
    background: black;
    width: 100vw;
    height: 15vh;
    color: white;
}

header .logo{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 10vh;
}

.logo .name-logo{
    color: var(---blueIcon);
    text-transform: uppercase;
    font-size: 4rem;
    text-decoration: none;
}

#navigation .menu{
    display: flex;
    align-items: center;
    justify-content: space-around;
    text-decoration: none;
    background: var(--menu-color);
    width: 100vw;
    height: 5vh;
}

#navigation .menu li {
    list-style: none;
}

#navigation .menu li a{
    text-decoration: none;
    font-size: 1.8rem;
    color: var(--blueIcon);
}


#apresentacao{
    height: 90%;
    width: 100%/*
    background-image: url(images/apresentacao.png);
    background-repeat: no-repeat;
    background-position: center;*/
}


#apresentacao .texto-apresentacao{
    display: grid;
    place-items: center;
    margin-inline:30%;
    margin-top: 5%;
}

#apresentacao .texto-apresentacao h2{
    font-size: 5rem;
    color: white;
}

#apresentacao .texto-apresentacao p{
    font-size: 3rem;
    color: white;
}

#apresentacao .texto-apresentacao a{
    margin-left: 23rem;
    text-decoration: none;
    font-size: 2.5rem;
    color: var(---blueIcon);
    border: 2px solid var(---blueIcon);
    border-radius: 2rem;
    transition: .5s;
}

#apresentacao .texto-apresentacao a:hover{
    color: black;
    background: var(---blueIcon);
    transition: .5s;
}

.icons .social-medias{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 2rem;
}

.icons a{
    font-size: 6rem;
    margin: 1rem;
    color: var(---blueIcon);
    transition: .3s;
}

.icons a:hover{
    color: var(---blueWords);
}

#returnToTop{
    position: fixed;
    right: 2rem;
    bottom: .5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(---blueIcon);
    color: black;
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    font-size: 2.5rem;
    text-decoration: none;
    visibility: hidden;/*No começo, ele ficará invisível. Após adicionar
    o .show nele(através do JS, ficará visível novamente)*/
    transform: translateY(100%);
    transition: .5s;

}


#returnToTop.show{
    opacity: 1;
    visibility: visible;
    transform: translateY(0%);
}

/*Responsividade*/
@media (max-width: 920px){
#apresentacao .texto-apresentacao{
    margin-inline:10%;
    margin-top: 5%;
}       
}


