*
{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
    scroll-behavior: smooth;
}
body{
    background: whitesmoke;
}

main{
    padding: 5rem;
    display: flex;
    justify-content: space-between;
}

h2{
    color: black;
    font-size: 3rem;
}

main .text{
    margin-top: 6%;
    padding: 8rem;
    z-index: 2;
}
main .imagemvazia{
    padding: 15rem;
}

/*Botão currículo*/

#curriculo{
    position: fixed;
    right: 2rem;
    bottom: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #ee0000;
    color: #fff;
    width: 7rem;
    height: 7rem;
    border-radius: 50%;
    font-size: 3.6rem;
    text-decoration: none;
    z-index: 10;
}

.doing{
    background: gainsboro;
    text-align: center;
    font-size: 2.5rem;
    padding: 3rem;
}

#Projects{
    display: flex; 
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background: gainsboro;
}

.projetos{
    position: relative; 
    width: 60rem; 
    height: 50rem; 
    background: gray;
    border-radius: 2rem; 
    margin: 4rem;
    overflow: hidden;
    box-shadow: .2rem .2rem .2rem .2rem rgba(0, 0, 0, 0.9);
}

.projetos .img-projetos{
    background: var(---grayImg);
    margin-bottom: 1rem;
    padding: 1rem;
    width: 70%;
    margin-left: 14%;
}
.projetos .img-projetos img{
    width: 100%;
    height: 24rem;
    margin: .1rem;
    filter: blur(0.3rem);
    transition: .5s;
}

.projetos .img-projetos .em-breve{
    filter: blur(0.3rem);
}

.projetos .img-projetos a{
    position: absolute;
    padding: 1.3rem;
    width: 12rem;
    border-radius: 2rem;
    font-size: 1.5rem;
    background: transparent;
    left: 38%;
    top: 24%;
    text-align: center;
    text-decoration: none;
    color: transparent;
    transition: .6s;
    z-index: 1;
}

.projetos .img-projetos .em-breve-text{
    background: var(---blueIcon);
    color: black;
    left: 39%;
    top: 27%;
}

.projetos .img-projetos img:hover{
    filter: blur(0rem);
    transition: .5s;
}

.projetos .img-projetos .em-breve:hover{
    filter: blur(0.3rem);
}

.projetos .img-projetos a:hover{
    background: var(---blueIcon);
    color: black;
}

.description{
    margin: 1rem;
}

.description h3{
    font-size:2.1rem;
}

.description p{
    font-size: 1.9rem;
}

.description .title{
    text-align: center;
}

footer{display: flex;
    align-items: center;
    justify-content:center;
    padding: 1rem;
    background: black;
    width: auto;
    flex-direction: column;
}

footer h2{
    color: var(---blueIcon);
    font-size: 5rem;
    margin: 3rem;
}

footer .icons{
    display: flex;
    text-decoration: none;
}
footer .link-icons{
    color: white;
}

footer i{
    margin: 2rem;
    font-size:3rem;
}
footer .fa-linkedin{
    color: rgb(0, 81, 255);   
}

footer .fa-envelope{
    color: rgb(255, 123, 0);
}

.title-off{
    background: black;
    color: var(---blueIcon);
    text-align: center;
    font-size: 2.3rem;
    padding-bottom: 4rem;
}

#Tasks{
    background: black;
    color: var(---blueIcon);
    display: flex;
    text-align: center;
    justify-content: space-around;
}

#Tasks h1{
    font-size: 5rem;
}
#Tasks .content .react{
    width: 15%;
}
#Tasks .content img{
    margin: 1rem;
    position: relative;
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    -moz-transition: 0.5s;
    transition: 0.5s;
/*Fazendo a imagem flutuar suavemente ao passar o mouse*/
}

#Tasks .content img:hover{
    -webkit-transform: translateY(-8px);
    -moz-transform: translateY(-8px);
    -ms-transform: translateY(-8px);
    -o-transform: translateY(-8px);
    transform: translateY(-8px);
    /*Fazendo a imagem flutuar suavemente ao passar o mouse*/
    }

#Tasks .content h2{
    color: var(---blueIcon);
}

@media(max-width: 1100px){
    header{
        justify-content: space-between;
    }
    .sobre{
        display: none;    
}

header #logoPortfolio{
    position: relative;
    left: 5%;
}
main{
    display: grid;
}
main h2{
    font-size: 2.5rem;
}

main .text{
    margin-top: 10%;
    padding: 2rem;
    z-index: 2;
    position: relative;
    left: 10%;
}

main .imagemvazia{
    position: relative;
    padding: 2rem;
    left: 15%;
}

.projetos .img-projetos img{
    filter: blur(0.0rem);
    height: 20rem;
}

.projetos .img-projetos a{
    top: 90%;
    background: var(---blueIcon);
    color: black;
}

.projetos .img-projetos .em-breve-text{
    top: 23%;
}

.projetos .img-projetos .em-breve{
    filter: blur(0.3rem);
}

#Tasks{
    justify-content: space-around; 
    flex-direction: column;
}

#Tasks .content{
    margin: 2rem;
}
#Tasks .content .react{
    width: 8%;
}
}